/*
 *= require material-components-web/dist/material-components-web.min
 *= require_self
 */

// Root styles
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// Import the entire material library css
//@import "material-components-web/dist/material-components-web.min.css";

// Theme
:root {
  --mdc-theme-primary: #ffcc5d;
  --mdc-theme-secondary: #ff7b5d;
  --mdc-theme-on-primary: #101010;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

::selection {
  background-color: #ffcc5d;
  color: #263238;
}

.turbolinks-progress-bar {
  background-color: #ffcc5d;
}

.mdc-top-app-bar {
  transition-property: background-color;
  transition-duration: 200ms;

  &.mdc-theme--transparent {
    background-color: transparent;
  }

  &.mdc-top-app-bar--fixed-scrolled {
    background-color: #101010;
  }
}

.secondary-typography {
  font-family: Rubik, sans-serif;
}

// Material icons styles
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}
