// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#orders {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

#new-order-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.hide {
  visibility: hidden;
  height: 0;
  position: fixed;
}

h6 {
  margin: 0 !important;
}

.mdc-list-item {
  border-radius: 10px !important;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.mdc-list, .shaped {
  border-width: 1px;
  border-color: #333;
  border-radius: 4px;
  border-style: solid;
  padding: 10px;
}

#chat {
  position: fixed;
  bottom: 10px;
  height: 400px;
  width: 300px;
  background: #FFF;
  z-index: 100;
  transition-property: right;
  transition-duration: 200ms;
  transition-timing-function: ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 !important;

  &.closed {
    right: -305px;
  }

  &.opened {
    right: 10px;
  }

  #messages {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #chat-header {
    padding: 15px;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }

  #chat-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;

    .mdc-text-field {
      flex: 1;
    }
  }

  .l-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    p {
      text-align: left;
      border-radius: 5px;
      background-color: #ffcc5d;
      padding: 5px 15px;
      margin: 0;
    }
  }

  .r-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    p {
      text-align: left;
      border-radius: 5px;
      background-color: #ff7b5d;
      padding: 5px 15px;
      margin: 0;
    }
  }
}

#chat-opener {
  position: absolute;
  bottom: 0;
  left: -110px;
  overflow: hidden;
  z-index: 9 !important;
}