<div id="home-banner">
  <div class="home-banner__slide shown" id="slide-0"></div>
  <div class="home-banner__slide" id="slide-1"></div>
  <div class="home-banner__slide" id="slide-2"></div>

  <div class="home-banner__content mdc-theme--on-secondary">
    <div class="home-banner__content--text">
      <h3 class="mdc-typography mdc-typography--headline3 secondary-typography">Come lo que deseas<br>(literalmente)
      </h3>
      <h6 class="mdc-typography--headline6 secondary-typography">Con iFoodX sé tu mismo el chef. Tu lo ideas, nosotros
        lo preparamos y te lo
        llevamos a donde sea que estés y lo mejor, a solo un par de clicks. Sigue bajando para conocer más acerca de
        iFoodX...</h6>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'app/home_banner' %>
