<div id="home-banner">
  <div class="home-banner__slide shown" id="slide-0"></div>
  <div class="home-banner__slide" id="slide-1"></div>
  <div class="home-banner__slide" id="slide-2"></div>

  <div class="home-banner__content">

  </div>
</div>

<%= javascript_pack_tag 'app/home_banner' %>
