<div class="mdc-elevation--z5" id="home-banner">
  <div class="home-banner__slide shown" id="slide-0"></div>
  <div class="home-banner__slide" id="slide-1"></div>
  <div class="home-banner__slide" id="slide-2"></div>

  <div class="home-banner__content mdc-theme--on-secondary">
    <div class="home-banner__content--text">
      <h3 class="mdc-typography mdc-typography--headline3 secondary-typography">Come lo que deseas<br>(literalmente)
      </h3>
      <br><br>
      <!--      <p class="mdc-typography--headline6">Con iFoodX puedes pedir el plato que deseas, con los ingredientes que deseas,-->
      <!--        además te damos la posibilidad de elegir la forma de preparación, con iFoodX tu eres el chef. Y lo mejor, todo-->
      <!--        esto a tan sólo un par de clicks. ¿Qué esperas para empezar a pedir?, contamos con servicio de domicilios de 8AM-->
      <!--        a 9PM los 7 días de la semana.</p>-->
      <h6 class="mdc-typography--headline6 secondary-typography">Con iFoodX sé tu mismo el chef. Tu lo ideas, nosotros
        lo preparamos y te lo
        llevamos a donde sea que estés y lo mejor, a solo un par de clicks. Sigue bajando para conocer más acerca de
        iFoodX...</h6>
      <!--      <button class="mdc-button mdc-button--outlined mdc-theme--on-secondary" data-mdc-auto-init="MDCRipple">-->
      <!--        <span class="mdc-button__ripple"></span>-->
      <!--        registrarse-->
      <!--      </button>-->
    </div>
  </div>
</div>

<%= javascript_pack_tag 'app/home_banner' %>
