<div class="mdc-layout-grid" id="services">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-1"></div>
    <div class="mdc-layout-grid__cell--span-10">
      <h4 class="mdc-typography--headline4 secondary-typography">Ordena en 3 simples pasos...</h4>
    </div>
    <div class="mdc-layout-grid__cell--span-1"></div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-1"></div>
    <div class="mdc-layout-grid__cell--span-10">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-top mdc-card char-card mdc-elevation--z0">
          <h1 class="mdc-typography--headline1 secondary-typography">1.</h1>
          <p class="mdc-typography--headline6 secondary-typography">Escoge los ingredientes de tu preferencia dentro de nuestra lista de
            frutas, verduras y más...</p>
        </div>
        <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-top mdc-card char-card mdc-elevation--z0">
          <h1 class="mdc-typography--headline1 secondary-typography">2.</h1>
          <p class="mdc-typography--headline6 secondary-typography">Pagas con tarjeta de crédito/débito de forma segura.</p>
        </div>
        <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-top mdc-card char-card mdc-elevation--z0">
          <h1 class="mdc-typography--headline1 secondary-typography">3.</h1>
          <p class="mdc-typography--headline6 secondary-typography">Espera a que nuestro domiciliario lleve tu pedido a tu sitio de
            preferencia.</p>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-1"></div>
  </div>
</div>
