<div class="mdc-layout-grid" id="services">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-1"></div>
    <div class="mdc-layout-grid__cell--span-10">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-top mdc-card char-card mdc-elevation--z0">
          <h1 class="mdc-typography--headline1 secondary-typography">1.</h1>
          <p class="mdc-typography--body2">Tú escoges los ingredientes con los que prepararemos tu comida. Contamos con
            una amplia gama de fruta y vegetales listos para ser preparados por nuestros chefs.</p>
        </div>
        <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-top mdc-card mdc-theme--primary-bg char-card mdc-elevation--z0">
          <h1 class="mdc-typography--headline1 secondary-typography">2.</h1>
          <p class="mdc-typography--body2">Tú escoges los ingredientes con los que prepararemos tu comida. Contamos con
            una amplia gama de fruta y vegetales listos para ser preparados por nuestros chefs.</p>
        </div>
        <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-top mdc-card mdc-theme--primary-bg char-card mdc-elevation--z0">
          <h1 class="mdc-typography--headline1 secondary-typography">3.</h1>
          <p class="mdc-typography--body2">Tú escoges los ingredientes con los que prepararemos tu comida. Contamos con
            una amplia gama de fruta y vegetales listos para ser preparados por nuestros chefs.</p>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-1"></div>
  </div>
</div>
<div id="services__bottom"></div>